<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Bookpack</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
      <h1 class="recommend">アナタにオススメの本</h1>
      <div class="back">
          <%= link_to '前に戻る' ,home_path , class: 'btn btn-default'%>
      </div>
      <div class="index-content">
      <div class="container">
            <% unless @datas == nil%>
                  <% @datas.each do |data|%>
                  <div class="col-md-3 col-sm-4 col-xs-12 panel-out">
                  <div class="panel panel-default">
                        <div class="panel-heading text-center parent">
                          <% unless data[:thumbnail] == "NO IMAGE"%>
                            <img src="<%= data[:thumbnail]%>" alt="" class="card-img-top">
                          <% else %>
                            <img src="/noimage.png" alt="">
                          <% end%>
                        </div>
                        
                        <div class="panel-body">
                            <p class="item-title"><%= link_to data[:title], data[:info], target: '_blank' %></p>
                            <p class="item-title">著者: <%= data[:authors]%></p>
                            <p class="item-title">内容: <%= data[:description]%></p> 
                        </div>
                  </div>
                  </div>
                  <% end %>
             <% else %>
                 <h1 class="recommend">オススメの本が見つかりませんでした・・・</h1>
                 <h2 class="recommend">他のボタンをお試しください！</h2>
             <% end %>
      </div>
      </div>
      
</body>
</html>

