<!-- app/views/top/timeline.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Bookpack</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    
  </head>
  <body>
    <div class="col-md-3 container sidebar well well-sm">
        <% if @user.profile_banner_uri_https.present? %>
          <%= image_tag(@user.profile_banner_uri_https, class: "img-responsive") %>
          <%= image_tag(@user.profile_image_uri_https('original'), class: "profile-image") %> プロフィール編集<br>
        <% end %>
        <%= @user.name %><br>
        @<%= @user.screen_name %><br>
        <div>
          <span class="col-xs-4">
            ツイート
            <span><%= @user.tweets_count %></span>
          </span>
          <div class="col-xs-4">
            フォロー
            <span><%= @user.friends_count %></span>
          </div>
          <div class="col-xs-4">
            フォロワー
            <span><%= @user.followers_count %></span>
          </div>
        </div><br>
        <%= @user.description %><br>
        <%= @user.location %><br>
        <%= @user.website %><br>
        
        <%= form_tag(tweet_path, method: "post") do %>
          <%= text_field_tag :text, '', class: "form-control input-area" %>
          <%= button_tag sanitize('<i class="fab fa-twitter"></i>  Tweetする'), :type => "submit", :class =>"tweet"%>

        <% end %>
        <span><%= form_tag(home_analyze_10_path, method: "post") do%>
          <%= button_tag sanitize('<i class="fas fa-book-open"></i> オススメの本をみてみる(10words)'), :type => "submit", :class =>"book"%>
        <% end %></span>
        
        <span><%= form_tag(home_analyze_8_path, method: "post") do%>
          <%= button_tag sanitize('<i class="fas fa-book-open"></i> オススメの本(8words)'), :type => "submit", :class =>"book"%>
        <% end %></span>
        
        <span><%= form_tag(home_analyze_5_path, method: "post") do%>
          <%= button_tag sanitize('<i class="fas fa-book-open"></i> オススメの本(5words)'), :type => "submit", :class =>"book"%>
        <% end %></span>
    </div>
      <div class="col-md-9">
        <% @tweets.each do |tweet| %>
          <div class="post-panel well well-sm">
            <div class="tweet-image">
              <%= link_to image_tag(tweet.user.profile_image_url_https) %>
            </div>
            <div class="post">
              <%= tweet.user.name %> @<%= tweet.user.screen_name %><br />
              <%= tweet.text %><br />
              RT <%= tweet.retweet_count %> いいね <%= tweet.favorite_count %><br />
              <%= tweet.created_at %><br />
              <div class="post-image">
                <% if tweet.media? %>
                  <% tweet.media.each do |media| %>
                    <%= image_tag(media.media_url_https) %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <%= paginate @tweets %>
      </div>
  </body>
</html>

