<!DOCTYPE html>
<html>
  <head>
    <title>Bookpack</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
  </head>

  <body>
      <% if current_user %>
        <%= current_user.name %> <%= link_to 'ログアウト', logout_path %>
      <% else %>
        <%= link_to 'ログイン', '/auth/twitter' %>
      <% end %>
    <%= yield %>
  </body>
</html>